{:kotoba.app/latest "k51qzi5uqu5dk73q2ogkqx3uzcj7zwilcd5bpujqoap2vzyipdl36gisf5mcj8", :kotoba.app/site-cid "bafybeiem5dselxw6jshxofejeqovyzpiuoz4vd6iayqmfud7ac5vdphkke", :kotoba.app/id "cloud.itonami.houshi", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dk73q2ogkqx3uzcj7zwilcd5bpujqoap2vzyipdl36gisf5mcj8", :published {:own-nodes {:cid "bafybeiem5dselxw6jshxofejeqovyzpiuoz4vd6iayqmfud7ac5vdphkke", :ipns "k51qzi5uqu5dk73q2ogkqx3uzcj7zwilcd5bpujqoap2vzyipdl36gisf5mcj8", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:27:47Z"}}}
